/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* display turbo frame - good for development */
turbo-frame {
  display: block;
  border: 1px solid blue;
}

/* error messages */
#error_explanation {
  color: red;
  border-radius: 6px;
  border: 2px solid red;
  padding: 6px;
  margin-bottom: 5px;
}

/* scaffold partial like inboxes/_inbox.html.erb */
.scaffold_record {
  border-radius: 6px;
  border: 2px solid #a3a3a3;
  padding: 6px;
  word-wrap: break-word;
  margin-bottom: 5px;
}

/* default flash message */
#notice {
  border-radius: 6px;
  padding: 6px;
  color: white;
  background: green;
}

/* center content, max width */
body {
  margin: 0 auto;
  max-width: 500px;
  display: block;
}

/* a new default font */
html, body {
  font-family: sans-serif;
  background-color: rgb(247, 250, 252);
}

/* to not always have links highlighted (often comes with bootstrap) */
a:link { text-decoration:none; }
a { text-decoration: none; }

button {
  width: 100px;
  margin: 10px;
  float: left;
}
