<!DOCTYPE html>
<html>
  <head>
    <title>IterableApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= button_to("Log Out", destroy_user_session_path, method: :delete) %>
    <% end %>

    <%= yield %>
  </body>
</html>
